!!!5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %title= 'Pics chooser' + ((pic ||= nil) ? " - #{pic.name}" : '')
    %link{:rel => :stylesheet, :type => 'text/css', :href => 'style.css'}
  %body
    #who
      - if current_user
        Hi,
        %strong= current_user.name + '.'
        %a{:href => '/sign_out'}
          Sign out
      - else
        %a{:href => '/auth/google'}
          Sign in using Google
    #content
      - if current_user
        = yield
      - else
        %p Please sign in using the link above.
    #footer
      &copy; Jan Stępień.
      %a{:href => 'https://github.com/jstepien/picvote'} Steal the source code.
